/**** STYLE SPECIFIQUE ACCUEIL ****/
/* Formulaire de recherche pleine largeur : */
#bigform {
    width: 100%;
    background-image: url(../images/concert.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    background-color: #FAFAFA;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 4em 0;
    border-bottom: 1px solid #303030;
}
#catchphrase, #subcatchphrase {
    text-shadow: 0 0 0.5em #FAFAFA;
}
#catchphrase {
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 0 0;
    font-weight: bold;
}
#subcatchphrase{
    font-size: 1.5em;
    margin: 1em 0 1em 0;
}
#bigform form {
    width: 80%;
    margin: 4em auto 4em auto;
}
#bigform form input, #bigform form select {
    font-size: 1.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    background-color: #FAFAFA;
    color: #303030  ;
    margin: 0px;
    padding: 0;
    width: 20%;
    padding: 0 1%;
    border: 1px solid #303030;
    border-radius: 0;
    border-right: 0;
}
#bigform .champCentral {
    width: 60%;
}
#bigform form select {
    background-image: url(../images/dropdown.png);
    background-position: 95%;
    background-repeat: no-repeat;
}

#bigform form input:active, #bigform form select:active {
    border: 1px solid #FAFAFA;
}
#bigform form select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#bigform form input[type="submit"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #303030;
    background-color: #287DFF;
    color: white;
    font-weight: bold;
}
#bigform form input[type="submit"]:hover {
    background-color: #015791;
}
#createButtonContainer {
    width: 25%;
    margin: 0 auto;
}
#createButton {
    font-size: 1.1em;
}

/******************************************/
/* Suggestions & features : */


.row {
    display: table-row;
    table-layout: fixed;
    width:100%;
	margin : 0px 20px 0px 20px;
}
*[class^=col] {
    display: table-cell;
    text-align: center;
    padding : 0;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.333333%;
}
.col-3x2 {
    width: 66.666666%;
}
/**** SLIDESHOW ~ Suggestions d'events : ****/
.previous, .next {
	display:table-cell;
	width: 5%;
	font-size: 2em;
	font-weight:bold;
	vertical-align: middle;
	text-decoration: none;
    text-align: center;
}
.previous:hover, .next:hover {
    cursor: pointer;
    background: #FAFAFA;
    text-decoration: none;
    color: #287DFF;
}
#suggestions .slideshow-nav {
    text-align: center;
    margin: 1em 0;
}
#suggestions .slideshow-nav span {
    margin: 0 .5em;
}

.imageContainer {
    display: table-cell;
    width: 28.33%;
    box-sizing: border-box;
    padding: 0;
}
.imageContainer img {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid black;
}
#suggestions .eventDetails {
    width: 61.666%;
    padding-left: 1em;
    vertical-align: top;
    display: table-cell;
    box-sizing: border-box;
    color: #303030;
}

.monthDetails {
    vertical-align: top;
    display: table-cell;
    box-sizing: border-box;
    color: #303030;
    padding-left: 1em;
}
.monthDetails h4 {
    clear: both;
}

.eventDetails {
    clear:both;
}
.eventDetails #typeSuggestion {
    font-weight: bold;
    font-size: 1.4em;
    color: #287DFF;
}
.eventDetails h5 {
    margin: 5px 0 10px 0;
    padding: 0 0 5px 0;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;
}
.eventDetails h5 span.participation {
    /*border: 1px solid #303030;*/
    background-color: #287DFF;
    color: #FAFAFA;
    font-weight: bold;
    border-radius: 5px;
    line-height: 1em;
    padding: 0.2em 0.5em 0.3em 0.5em;
    font-size: 0.8em;
    float: right;
}
.eventDetails #infosPratiques {
    float: left;
    width: auto;
    min-width: 10em;
    max-width: 20em;
    margin: 10px 10px 10px 0;
    padding: 0 10px 10px 0;
}
.eventDetails #infosPratiques span {
    color: #287DFF;
    width: 1.5em;
    display: block;
    float: left;
}
.eventDetails p#eventDescription {
    text-align: justify;
    line-height: 1.2em;
}

/**** Triptyque : présentation des features ****/
.triptyque {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0;
    color: #FAFAFA;
}
.blue-wrapper h4 {
    color: #FAFAFA;
    border-color: #FAFAFA;
    }
.triptyque h5 {
	font-size: 1.5em;
	font-weight:bold;
    margin: 20px auto;
    text-align: center;
}
.triptyque #glyphs {
    font-size: 10em;
    color: #FAFAFA;
}
.triptyque p {
    font-size: 1.2em;
    margin: 0 20px;
}
.description {
	font-size:0.9em;
	margin: 0 10px 5px 10px;
}
.blue-wrapper {
    background-color: #287DFF;
}

/* Mes évènements à venir */

#myEvents .eventDetails {
    width: 66.6666%;
}

#event, .calendar {
    display: table-cell;
}

.calendar {
    display: table-cell;
    width: 33.333333%;
    box-sizing: border-box;
}
.calendar table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.calendar table th, .calendar table td, .calendar table caption {
    height: 2em;
    text-align: center;
    vertical-align: middle;
    background-color: #FAFAFA;
}
.calendar table caption {
    color: #FAFAFA;
    background-color: #FD5544;
    font-weight: bold;
    padding: 0 1em;
    line-height: 2em;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #F94339;
}
.calendar table caption .previous-month {
    float: left;
    text-decoration: none;
    color: #303030;
}
.calendar table caption .next-month {
    float: right;
    text-decoration: none;
}

.calendar table tr {
    border: 1px solid black;
}
.calendar table .days td {
    border: 1px solid black;
}
.calendar table .days a {
    text-decoration: none;
    color: #303030;
}
.calendar table .days .filled-day {
    font-weight: bold;
}
.calendar table .days a:hover {
    text-decoration: underline;
}

.eventSelect {
    display: none;
    text-align: center;
}
.eventSelector {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px solid #F94339;
    background-color: #FD5544;
    color: #FAFAFA;
    font-weight: bold;
    margin: 0 0.25em;
}
.eventSelector.active {
    background-color: #FAFAFA;
    color: #303030;
}
.eventSelector a {
    text-decoration: none;
    color: inherit;
}
