/**** STYLE SPECIFIQUE ACCUEIL ****/
/* Formuaire : */
#bigform {
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 0 auto 30px auto;
}
#catchphrase {
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    font-weight: bold;
}
#subcatchphrase{
    font-size: 1.5em;
    margin: 0 0 20px 0;
}
#bigform form {
    width: 75%;
    margin: 0 auto 30px auto;
}
#bigform #boutoncreer {
    background-color: lightgreen;
    border: 1px solid black;
    padding: 10px 0;
    width: 73%;
    margin: 0 auto;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.lienbouton {
    text-decoration: none;
}
#bigform input:focus {
    border: 1px solid grey;
}
#bigform input, #bigform select, #bigform option {
    margin: 0px;
    padding: 0;
    width: 24%;
    height: 40px;
    border: 1px solid black;
}
#foo {
    height: 50px;
}
/******************************************/
/* Suggestions & features : */
#suggestions, #features {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto 30px auto;
}
.row {
    display: table-row;
	border: 1px solid black;
	margin : 0px 20px 0px 20px;
}
.col {
    width: 33.333333%;
    display: table-cell;
    text-align: center;
 	border: 1px solid black;
    padding : 0;
}
.col img, .col p {
    width: 95%;
    vertical-align: top;
}
#suggestions h4, #features  h4 {
    font-size: 2em;
    font-weight: bold;
    display: table-caption;
	text-align: center;
    margin: 0 auto;
 	border: 1px solid black;
    border-bottom: 0 ;
	padding: 5px 0px 5px 0px;
}
#suggestions h5, #features h5 {
	font-size: 1.5em;
	font-weight:bold;
    margin: 3px auto;
}
.firstArgument {
	font-size: 1.2em;
	font-weight:bold;
	margin-bottom: 5px;
}
.otherArgument {
	font-weight:bold;
	margin: 0 10px 0 10px;
}
.description {
	font-size:0.9em;
	margin: 0 10px 5px 10px;
}
.slideshowSelector {
	display:table-cell;
	width: 8%;
	font-size: 2em;
	font-weight:bold;
	vertical-align: middle;
	background: #919191;
	text-decoration: none;
}
.slideshowSelector:hover {
    background: #4d4d4d;
    text-decoration: none;
}
.slideshowContent{
	display:table-cell;
}