/* Mes évènements à venir */

#myEvents .eventDetails {
    width: 66.6666%;
}

#event, .calendar {
    display: table-cell;
}

.calendar {
    display: table-cell;
    width: 33.333333%;
    box-sizing: border-box;
}
.calendar table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.calendar table th, .calendar table td, .calendar table caption {
    height: 2em;
    text-align: center;
    vertical-align: middle;
    background-color: #FAFAFA;
}
.calendar table caption {
    color: #FAFAFA;
    background-color: #FD5544;
    font-weight: bold;
    padding: 0 1em;
    line-height: 2em;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #F94339;
}
.calendar table caption .next-month, .calendar table caption .previous-month {
    text-decoration: none;
    color: #303030;
}
.calendar table caption .previous-month {
    float: left;
}
.calendar table caption .next-month {
    float: right;
}

.calendar table tr {
    border: 1px solid black;
}
.calendar table .days td {
    border: 1px solid black;
}
.calendar table .days a {
    text-decoration: none;
    color: #303030;
}
.calendar table .days .filled-day {
    font-weight: bold;
}
.calendar table .days a:hover {
    text-decoration: underline;
}

.eventSelect {
    display: none;
    text-align: center;
}
.eventSelector {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px solid #F94339;
    background-color: #FD5544;
    color: #FAFAFA;
    font-weight: bold;
    margin: 0 0.25em;
}
.eventSelector.active {
    background-color: #FAFAFA;
    color: #303030;
}
.eventSelector a {
    text-decoration: none;
    color: inherit;
}
