.eventPreview {
    padding: 0 0 10px 0;
    overflow: auto; /* Empêche la hauteur de s'effondrer s'il n'y a pas assez de contenu */
    margin: 0 0 2em 0;
}
.eventPreview h4 {
	border-bottom: 0;
	padding: 10px 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-color: #287DFF;
}
.eventPreview h4 a {
    text-decoration: none;
    color: #FAFAFA;
}
.eventPreview img {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    width: 33%;
    height: auto;
    padding: 1em 1em 0 1em;
    float: left;
}
.eventPreview .infosPratiques {
    display: table;
    width: 66%;
    margin: 1em 0 0 0;
}
.eventPreview .infosPratiques p {
    width: 33%;
    float: left;
    margin: 0 0 1em 0;
    font-size: 1.1em;
    font-weight: bold;
}
.eventPreview .infosPratiques p span {
    color: #287DFF;
    width: 1em;
    margin: 0 .5em;
    text-align: center;
}
.eventPreview p.description {
    margin: 0 1em 0 1em;
    text-align: justify;
    line-height: 1.3em;
}
.eventPreview .button {
    margin: 1em 1em 0 auto;
    width: 33%;
}
