/**** STYLES NECESSAIRES A TOUTES LES PAGES ****/

/* Général : */
html {
    width: 100%;
    margin: 0 auto;
    background-color: #303030;
}
.clearfix {
    overflow: auto;
}
* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
    padding: 0 auto;
    width: 100%;
    min-width: 950px;
    margin: 0 auto;
    background-color: white;
}
/*********************************/
/* Debug */
#debug {
    width: 90%;
    padding: 0 5%;
    margin: 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
#palette {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    display: table-row;
}
*[id^="color"] {
    width: 100px;
    height: 40px;
    display: table-cell;
    border: 0 1px;
    border-color: black;
    color: white;
    background-color: black;
    text-align: center;
    vertical-align: middle;
}
#color1 {background-color: #303030;}
#color2 {background-color: #FAFAFA; color: #303030;}
#color3 {background-color: #F94339;}
#color4 {background-color: #68FF68; color: #303030;}
#color5 {background-color: #287DFF;}
#debug h3 {
    margin: 10px 0 0 0;
}

/* Header : */
header {
    height: 70px;
    margin: 0 auto 30px auto;
    border-bottom: 2px solid #303030;
    padding: 10px 5% 10px 5%;
    background-color: #FAFAFA;
}
header h1 {
    float: left;
    height: inherit;
    margin: 0;
    padding: 0 10px;
}
header h1 img { /* LOGO */
    height: 100%;
    margin-right: 0.5em;
}
header ul {
    margin: 0;
    position: relative;
    top: 25px;
}
header ul li {
    list-style-type: none;
    text-align: center;
}
header ul li a {
    color: #090909;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
#pseudo {
    text-transform: none    ;
    color: green;
}
#raccourcis li {
    float: left;
    margin: 0 2em 0 0;
}
#membre li {
    float: right;
    margin: 0 0 0 2em;
}


/* Corps de page */

section {
    margin: 0 auto 30px auto;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: table-row;
	border: 1px solid black;
	margin : 0px 20px 0px 20px;
}
*[class^=col] {
    display: table-cell;
    text-align: center;
 	border: 1px solid black;
    padding : 0;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.333333%;
}

/*********************************/
/* Footer */
footer {
    width: 100%;
    background-color: #303030;
    border-top: 1px solid black;
    color: #FAFAFA;
    padding-bottom: 20px;
}
footer a {
    color: #FAFAFA;
    text-decoration: underline;
}
#footerWrapper {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto;
}
.footer-row {
    display: table-row;
}
footer .col-3 {
    width: 33.3333333%;
    display: table-cell;
    text-align: center;
    padding: 10px 10px;
    border: none;
}
footer .col-3 h3 {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    color: #FAFAFA;
}