@CHARSET "UTF-8";
.intro_evenement {
	display:block;
	width:100%;
	height: 300px;
}
.photo_evenement {
	position:relative;
	display:block;
	float:left;
	width:30%;
	height:100%;
}
.photo_evenement img{
	width:100%;
	height:auto;
	position:absolute;
	top:50%;
	padding: 2px;
	border: 1px solid black;
	transform: translate(0, -50%);
}
#useful_infos ul li {
	list-style-type:none;
}
#useful_infos ul li i{
	padding-right: 1em;
}
.maclasse {
	color:#F94339;
	width:10%;
	height:1.5em;
	font-size:2em;
}
.title_event {
	display:block;
	width:100%;
	height:auto;
}
.infos {
	display:block;
	float:left;
	width:69%;
	height:100%;
	}
#useful_infos {
	float:left;
	width: 40%;
}
.title_event h1{
	text-align:right;
	font-size:2.5em;
	padding-right: 20%;
}
.buttons {
	float:left;
	width:30%;
}
.social {
	float:left;
	width:20%;
}
.buttons ul li a{
	display:block;
	position:relative;
	margin-top:5px;
	padding: 0.2em 0.8em;
	width:auto;
	margin: 0px 0.2em 0.2em 0px;
	border-radius: 10px;
	font-size: 100%;
	text-align:center;
	text-decoration: none;	
	color: #FAFAFA;
	background-color:#F94339;
	border-bottom:5px solid #FF0033;
	border-right:5px solid #FF0033;
	text-shadow:0px -1px #FF0033;
}
#Participe{
	display:block;
	position:relative;
	margin-top:5px;
	padding: 0.2em 0.8em;
	width:auto;
	margin: 0px 0.2em 0.2em 0px;
	border-radius: 10px;
	font-size: 150%;
	text-align:center;
	text-decoration: none;	
	color: #FAFAFA;
	background-color:#F94339;
	border-bottom:5px solid #FF0033;
	border-right:5px solid #FF0033;
	text-shadow:0px -1px #FF0033;
}
.buttons ul li {
	list-style-type:none;
}
.buttons ul li a:hover{
	color:#C0C0C0;
}
.buttons ul li a.active {
	background-color: #FF0033;
	border-right:5px solid #F94339;
	border-bottom:5px solid #F94339;
}
.description {
	clear:both;
	display:block;
	width:100%;
	height:300px;
	border: 1px solid green;
}
.description p {
	display:block;
	width:90%;
	height:65%;
	border: 3px solid #303030;
	margin:auto;
}
.photo {
	display:block;
	width: 100%;
	height:300px;
	border:1px solid red;
}
.organisation {
	display:block;
	width: 100%;
	height:300px;
	padding-left:5%;
}
.organisation  h3{
	text-align:center;
}
.organisation .hosts{
	display:block;
	width:40%;
	float:left;
	margin-left:5%;
}
.organisation .hosts ul li{
	list-style-type:none;
	margin-top:0.5px;
	margin-bottom:0.5px;
	padding-top: 0.2em;
}
.organisation .hosts ul li img{
	width: 25%;
	height: auto;
	vertical-align:middle;
}
.organisation .hosts ul li a{
	text-decoration:none;
	padding-right:1em;
	color: black;
}
.organisation .hosts ul li a:hover{
	font-weight:bold;
}
.organisation .hosts ul li a:active{
	color: #F94339;
}
.organisation .friends_going{
	display:block;
	width:40%;
	height:100%;
	float:left;
}
.organisation .friends_going table{
	margin-top:2.5em;
}

.organisation .friends_going table tr td img{
	width:65%;
	height:auto;
}
.organisation .friends_going table tr td a{
	text-decoration:none;
	color:black;
}
.organisation .friends_going table tr td a:hover{
	font-weight:bold;
}
.organisation .friends_going table tr td a:active{
	color: #F94339;
}
.commentaire {
	clear:both;
	display:block;
	width: 100%;
	height:500px;
	border:1px solid black;
}
table {
	float:left;
	width:20%;
	text-align: center;
	padding: 1em;
	padding-left: 3em;
}
.socials {
	font-size: 3em;
	height:auto;
}
table a{
	color:black;
}
table a:visited{
	color: inherit;
}
table a:hover{
	color:inherit;
}
table  a.active {
	color:inherit;
}