/**** STYLES NECESSAIRES A TOUTES LES PAGES ****/

/* Général : */
html {
    width: 100%;
    margin: 0 auto;
}
.clearfix {
    overflow: auto;
}
* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
    padding: 0 auto;
    width: 100%;
    min-width: 950px;
    margin: 0 auto;
}

.disabled {
    cursor: not-allowed;
}
/*********************************/

/* Header : */
header {
    height: 70px;
    margin: 0 auto 0 auto;
    border-bottom: 2px solid #303030;
    padding: 10px 5% 10px 5%;
    background-color: #FAFAFA;
}

header h1 {
    float: left;
    height: inherit;
    margin: 0;
    padding: 0 10px;
}
header h1 img { /* LOGO */
    height: 100%;
    margin-right: 0.5em;
}
header ul {
    margin: 0;
    margin-top: 25px;
}
header ul li {
    list-style-type: none;
    text-align: center;
}
header ul li a {
    color: #303030;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
header ul li a:hover {
    color: #287DFF;
}
#pseudo {
    text-transform: none    ;
    color: green;
}
#raccourcis li {
    float: left;
    margin: 0 2em 0 0;
}
#membre > li {
    float: right;
    margin: 0 0 0 2em;
}

.menuDeroulant {
    border: 1px solid black;
    background-color: #FAFAFA;
    display: none;
    position: absolute;
    padding: 0.3em 1em;
}
.menuTrigger:hover ul.menuDeroulant {
    display: block;
    margin: 0;
}
.menuDeroulant a {
    text-transform: none;
    margin: 0.3em 1em;
}


/* ALERTE ! */

*[class^="alert"] {
    width: 90%;
    margin: 0 auto;
    border: 1px solid;
    height: 40px;
    line-height: 40px;
    padding: 0 1em;
    border-radius: 10px;
    margin-top: 10px;
}
*[class^="alert"] .close {
    display: block;
    float: right;
    color: #303030;
    line-height: 1em;
    text-align: right;
    margin: 11px 0;
}
.alertInfo {
    background-color: lightblue;
    border-color: #287DFF;
}
.alertError {
    background-color: #FFAAAA;
    border-color: #F94339;

}
.alertValidation {
    background-color: lightgreen;
    border-color: #36B136;
}

/* Corps de page */

h2 {
    border-bottom: 1px solid #303030;
}
section {
    margin: 0 auto;
}
.wrapper {
    width: 90%;
    padding: 0 5%;
    margin: 0;
}
.wrapper-narrow {
    width: 33%;
    padding: 0 33%;
    margin: 0;
}
h4 {
    font-size: 1.5em;
    color: #303030;
    border-bottom: 1px solid #303030;
    padding-bottom: .1em;
}


/*********************************/
/* Footer */
footer {
    width: 100%;
    background-color: #303030;
    border-top: 2px solid black;
    color: #FAFAFA;
    padding-bottom: 20px;
    margin-top: 30px;
}
footer a {
    color: #FAFAFA;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
#footerWrapper {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto;
}
.footer-row {
    display: table-row;
}
footer .col-3 {
    width: 33.3333333%;
    display: table-cell;
    text-align: center;
    padding: 10px 10px;
    border: none;
    background-color: #303030;
}
footer .col-3 h3 {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    color: #FAFAFA;
    background-color: #303030;
}
