@CHARSET "UTF-8";
.intro_evenement {
	display:block;
	width:100%;
	height: 300px;
	border: 2px solid blue;
}
.photo_evenement {
	display:block;
	float:left;
	width:30%;
	height:100%;
}
.photo_evenement img{
	width:100%;
	height:100%;
}
#useful_infos ul li {
	list-style-type:none;
}
#useful_infos ul li i{
	padding-right: 1em;
}
.maclasse {
	color:#F94339;
	width:10%;
	height:1.5em;
	font-size:2em;
}
.title_event {
	display:block;
	width:100%;
	height:auto;
}
.infos {
	display:block;
	float:left;
	width:69%;
	height:100%;
	}
#useful_infos {
	float:left;
	width: 40%;
}
.title_event h1{
	text-align:right;
	font-size:2.5em;
	padding-right: 20%;
}
.buttons {
	float:left;
	width:30%;
}
.social {
	float:left;
	width:20%;
}

.social ul li{
	list-style-type:none;
	line-height:2em;
}

.buttons ul li a{
	display:block;
	position:relative;
	margin-top:5px;
	padding: 0.2em 0.8em;
	width:auto;
	margin: 0px 0.2em 0.2em 0px;
	border-radius: 10px;
	font-size: 1.2em;
	text-align:center;
	text-decoration: none;	
	color: #FAFAFA;
	background-color:#F94339;
	border-bottom:5px solid #FF0033;
	border-right:5px solid #FF0033;
	text-shadow:0px -1px #FF0033;
}
#Participe{
	display:block;
	position:relative;
	margin-top:5px;
	padding: 0.2em 0.8em;
	width:auto;
	margin: 0px 0.2em 0.2em 0px;
	border-radius: 10px;
	font-size: 2.4em;
	text-align:center;
	text-decoration: none;	
	color: #FAFAFA;
	background-color:#F94339;
	border-bottom:5px solid #FF0033;
	border-right:5px solid #FF0033;
	text-shadow:0px -1px #FF0033;
}
.buttons ul li {
	list-style-type:none;
}
.buttons ul li a:hover{
	color:#C0C0C0;
}
.buttons ul li a.active {
	background-color: #FF0033;
	border-right:5px solid #FF0033;
	border-bottom:5px solid #FF0033;
}
.description {
	display:block;
	width:100%;
	height:300px;
	border: 1px solid green;
}
.description p {
	display:block;
	width:90%;
	height:65%;
	border: 3px solid #303030;
	margin:auto;
}
.photo {
	display:block;
	width: 100%;
	height:300px;
	border:1px solid red;
}
.organisation {
	display:block;
	width: 100%;
	height:300px;
	border:1px solid blue;
}
.commentaire {
	display:block;
	width: 100%;
	height:500px;
	border:1px solid black;
}
.social ul li img {
	width:20%;
	height:auto;
}