form {
    width: 33%;
    margin: 0 auto;
}
label {
    display: block;
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin: 0 auto 10px auto;
    color: #303030;
    font-size:1.2em;
}
input {
    display: block;
    height: 40px;
    width: 94%;
    margin: 0 auto 20px auto;
    padding: 0 3%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 1.2em;
}
input[type="submit"] {
    width: 50%;
    margin: 30px auto 0 auto;
    border: 0;
    border-radius: 20px;
    border-bottom: 2px solid #303030;
    background-color: #36B136;
    color: #FAFAFA;
}

input[type="submit"]:hover {
    background-color: #369036;
}
input[type="submit"]:active {
    background-color: #369036;
    border: 1px solid #303030;
}
