form {
    margin: 30px auto;
}
label {
    display: block;
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin: 20px auto 10px auto;
    color: #303030;
    font-size:1.2em;
}
input, textarea {
    display: block;
    height: 40px;
    line-height: 1.4em;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 1em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2em;
}
textarea {
    width: 100%;
    font-size: 1em;
    height: 10em;
    border-radius: 0px;
}
label+input {
    margin: 0 auto 15px auto;
}
input[type="file"] {
    border: 0;
    background-color: inherit;
    float: right;
    padding: 0;
}
input[type="submit"] {
    width: 15%;
    height:2em;
    line-height:2em;
    min-width: 10em;
    margin: 20px 0 0 auto;
    border: 0;
    border-radius: 5px;
    border-bottom: 2px solid #303030;
    background-color: #287DFF;
    color: #FAFAFA;
}
input[type="submit"]:hover {
    background-color: #015791;
}
input[type="submit"]:active {
    background-color: #015791;
    border: 1px solid #303030;
}
form .formError {
    color: red;
    margin-top: 0;
    text-align: right;
}
select{
	display: block;
    height: 40px;
    line-height: 1.4em;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2em;
}
.price {
    display: inline-block;
    width: 15%
}
.importantRed {
    color: red;
}
checkbox {
    font-size: 11px;
    display: inline-block;
    height: 20px;
    margin: auto;
}
 .tableau {display: table;border-spacing: 0.5rem;border-collapse: collapse;}
  .cellule {display: table-cell;padding: 0.5rem; border: 1px solid #999;}
  .ligne {display: table-row;}
  /* Quelques sélecteurs */
  .ligne:nth-child(odd) {background: #e5f1f4;}
  .ligne:nth-child(even) {background: #f8fbfc;}
  .ligne:hover {background: #ecfbd4;cursor:pointer;} 
  .col {display: table-column;}
  .corp {display: table-row-group}
  .colgroupe {display: table-column-group;}
  .pied {display: table-footer-group;font-weight:bold;background-color:#eee;}
  .tete {background-color:#4a98af;color:#ffffff;display: table-header-group;font-weight:bold;text-align:center;}
  .legende {display: table-caption;caption-side: top;background-color:#eee;}