.titleWrapper1 
{
  background-color: #36B136;
  border-bottom:1em solid #2a8a2a;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.titleWrapper1 h2 {
  color: #FAFAFA;
  font-size: 2em;
  border-bottom: 0;
  display: inline-block;
  vertical-align: top;
}

.categorie_forum {
  margin: auto 20% auto 20%;
  padding-bottom: 10%;
}

.tableau{
  margin: auto 2%;
  padding-bottom: 2em;
}

.header{
  background-color: #36B136;
  text-align: center;
  margin-top: 4%
}

.header h1 {
  color: #FAFAFA;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
}

.content {
  border:15px solid #afe7af;
}

.question {
  border-bottom: 1px solid #afe7af;
  padding: 10px;
  vertical-align: top
}

.enonce {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  width:69%;
}

.reponses {
  font-size: 1em;
  display: inline-block;
  width:15%;
}

.auteur{
  font-size: 1em;
  display: inline-block;
  width:15%;
  float:right;
}

a {
  text-decoration: none;
  color: black;
}

.content_sujet{
  vertical-align: middle;
  border: 1px solid #36B136;
  min-height: 150px;
}

.content_sujet  p{
  margin: 15px 25px 15px 15px;
  width:70%;
  display: inline-block;
}

.membre {
  width:10%;
  display: inline-block;
  float: left;
  margin:20px;
  text-align: center;
}

.membre p{
  font-size: 0.7em;
  margin-top: 4%;
  text-align: center;
  display:baseline;
}

.photo_profil{
  height :65px;
  width: 65px;
  margin: 6%;
}

h2{
  color: white;
  margin-bottom: 0;
}

.reponse{
  padding-bottom: 2%;
}

.button{
  background-color: #36B136;
  margin: 7% auto;
  text-decoration: none;
}

.button h3{
  width:20%;
}

.repondre{
  display: inline-block;
  float:right;
  width:30%;
  margin-right: 2%;
}

.retour{
  display: inline-block;
  float: left;
  width:30%;
  margin-left: 2%
}

.header2{
  padding-bottom: 5%
}

.button:hover{
  background-color:#36B136;
}
.creer{
  background-color: #36B136;
  margin: 2% auto;
  text-decoration: none;
  width:20%;
}
.form{
  padding:0 2%;
  padding-bottom: 2%;
}
.champ1{
  margin: 15px 25px 15px 10px;
  width:84%;
  display: inline-block;
  float: right;
}
.content_sujet1{
  vertical-align: middle;
  border: 1px solid #36B136;
  min-height: 150px;
}
textarea{
  width:100%;
  min-height: 70px;
}
.content_sujet1 input{
  float:right;
  color: white;
  border-radius: 4px;
}
.supprimer i {
  float: right;
  border: solid #36B136 1px;
  border-radius: 4px;
  padding:5px;
  background-color: #36B136;
  color:white;
  margin:10px;
  margin-left: 0px;
}
