.titleWrapper1 
{
  background-color: #36B136;
  border-bottom:15px solid #2a8a2a;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.titleWrapper1 h2 {
  color: #FAFAFA;
  font-size: 2em;
  border-bottom: 0;
  display: inline-block;
  vertical-align: top;
}

.categorie_forum {
  margin: auto 40px auto 40px;
  padding-bottom: 20px
}

.header{
  background-color: #36B136;
  text-align: center;
  margin-top: 40px
}
.header h1 {
  color: #FAFAFA;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
}
.content {
  border:15px solid #afe7af;
}
.question {
  border-bottom: 1px solid #afe7af;
  padding: 10px;
  vertical-align: top
}
.enonce {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width:69%;
}
.reponses {
  font-size: 15px;
  display: inline-block;
  width:15%;
}
.auteur{
  font-size: 15px;
  display: inline-block;
  width:15%;
}