@CHARSET "UTF-8";


/* Profil utilisateur */

.col_gauche {
    float: left;
    width: 20%;
    padding: 0 2.5%;
    border-right: 1px solid lightgray;
}
.col_droite {
    margin-left: 25%;
    padding-left: 1.25%;
    vertical-align: top;
}
.photo_profil img {
    width: 100%;
    height: auto;
}

#interaction_profil {
    padding: 0;
}
#interaction_profil li {
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    border: 0;
}
#statut {
    border: 1px solid #303030;
    background-color: #287DFF;
    color: #FAFAFA;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.1em 1em;
    font-size: 0.8em;
    float: right;
}

#general {
    background-color: #FAFAFA;
    padding: 20px;
    border: 1px solid #303030;
}
#general ul {
    padding: 0;
    margin: 0;
}
#general ul li {
    list-style-type: none;
    line-height: 1.2em;
}

#clearfix {
    clear: both;
}

/**** Affichage des messages ****/
#listeMessages table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #303030;
}
#listeMessages th {
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
}
#listeMessages th, #listeMessages td {
    padding: 0.25em 1em 0.25em 0.5em;
    text-align: left;
}
#listeMessages .from,#listeMessages .subject {
    border-right: 1px solid #303030;
}
#listeMessages .from {
    width: 25%;
}
#listeMessages .subject {
    width: 60%;
}
#listeMessages .date {
    width: 15%;
}
#listeMessages tr.bg {
    background-color: lightgray;
}
#listeMessages tr a {
    text-decoration: none;
    color: #287DFF;
}
#listeMessages tr a:hover {
    text-decoration: underline;
}
