@CHARSET "UTF-8";


/* Profil utilisateur */

#col_gauche {
    float: left;
    width: 20%;
    padding: 0 2.5%;
}
#col_droite {
    margin-left: 25%;
    padding-left: 1.25%;
    vertical-align: top;
    border-left: 1px solid black;
}
#photo_profil {
    text-align: center;
}
#photo_profil img {
    width: 230px;
    height: 230px ;
}
#interaction_profil {
    padding: 0;
}
#interaction_profil li {
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    border: 0;
}
#pseudo_profil {
	font-size: 1.2cm;
	line-height: 1.43;
	color: black;
        text-align: center;
        margin: 10px 0 25px 0;
}
#statut {
    border: 1px solid #303030;
    background-color: #287DFF;
    color: #FAFAFA;
    font-weight: bold;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 1em;
    padding: 2px 1em;
    margin: 10px auto;
    font-size: 15px;
    text-align: center;
    width: 2cm;
    line-height: 1.6;
}
#description p {
    border: 1px solid #565A5C; /* couleur : gris semi-clair */
    padding: 20px;
    height: 2.5cm;
    width: 84%;
    overflow: auto;
}
#general {
    background-color: #FAFAFA;
    margin: 1cm 0;
}
#general ul {
    padding: 0;
    margin: 0;
}
#general ul li {
    list-style-type: none;
    line-height: 1.2em;
}

#clearfix {
    clear: both;
}

#col1 {
    float: left;
    width: 44%;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
}

#col2 {
    float: right;
    width: 54%;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
}

.info_profil {
    color: #287DFF;
    padding: 5px 0 5px 0;
}
/**** Affichage des messages ****/
#listeMessages table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #303030;
}
#listeMessages th {
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
}
#listeMessages th, #listeMessages td {
    padding: 0.25em 1em 0.25em 0.5em;
    text-align: left;
}
#listeMessages .from,#listeMessages .subject {
    border-right: 1px solid #303030;
}
#listeMessages .from {
    width: 25%;
}
#listeMessages .subject {
    width: 60%;
}
#listeMessages .date {
    width: 15%;
}
#listeMessages tr.bg {
    background-color: lightgray;
}
#listeMessages tr a {
    text-decoration: none;
    color: #287DFF;
}
#listeMessages tr a:hover {
    text-decoration: underline;
}
