@CHARSET "UTF-8";

/* Définition des styles des titres */
#titre {
    text-align:center;
    font-weight: bold;
    font-size: 2em;
    padding: 0.6cm 0;
}
.sous-titre {
    font-weight: bold;
    font-size: 1.5em;
}

/* Définition des styles communs aux boîtes des events */
.event-box {
    border-style: solid;
    border-width : thin;
    padding: 20px;
    margin: 5px 0 5px 0;
}
