@CHARSET "UTF-8";

/* Définition des couleurs spécifiques aux onglets : */
.left_tab {
    border-right: 2px solid #303030;
}
.center_tab {
    border-right: 2px solid #303030;
}
.left_tab a {
/*  background-color: #4d93ff; */
    background-color: #FAFAFA;
    color: #287DFF;
}
.center_tab a {
/*  background-color: #fd5544; */
    background-color: #FAFAFA;
    color: #F94339;
}
.right_tab a {
/*  background-color: #63cf63; */
    background-color: #FAFAFA;
    color: #36B136;
}

/* Définition des styles généraux des onglets : */
.onglets {
    font-weight: bold;
    font-size: 1.6em;
    list-style-type : none;
    padding:0;
    margin:0;
    width: 100%;
    display : table-row;
    border-collapse: collapse;
}
.onglets li {
/*  border-radius: 1em; */
    background-color: #FAFAFA;
    display: table-cell;
    width: 33.333333%;
    padding:0;
    margin:0;
}
.onglets li a {
  /*color: #303030; */
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 2px solid #303030;
}
.onglets li a:hover {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: lightgrey;
}
.onglets li.active a {
    border-bottom: none;
}
.onglets li.active a:hover {
    cursor : default;
    background-color: #FAFAFA;
}
.onglets a {
    display : block;
  /*color : #303030; */
    text-decoration : none;
    height : 60px;
    line-height: 60px;
    text-align : center;
}
.profil_onglets {
    display: table;
    width: 100%;
    background-color: white;
}
