@CHARSET "UTF-8";
.onglets {
    font-weight: bold;
    font-size: 25px;
    list-style-type : none;
    padding:0;
    margin:0;
    width: calc(100% - 2px);
    display : table;
    border-collapse: collapse;
}
.onglets li {
    border : 2px solid #303030;
    border-top : 0;
    display: table-cell;
    width: 33.333333%;
    height : 60px;
    background-color: white;
    padding:0;
    margin:0;
}
.onglets li:hover {
    background-color: #BFBFBF;
}
.onglets li.active {
    border-bottom: 0;
}
.onglets li.active:hover {
    border-bottom: 0;
    background-color: white;
}
.onglets a {
    display : block;
    color : #303030;
    text-decoration : none;
    height : 60px;
    line-height: 60px;
    text-align : center;
}
.profil_onglets {
    padding-bottom : 40px;
}
#left_tab {
    border-left: 0
}
#right_tab{
    border-right: 0
}
