.createCalendar{
	padding:0;
	padding-bottom: 2em;
}
.calendarPin {
	position: relative;
	top:-25px;
	left:-15%;
	height :80px;
	display: inline;
	z-index: 10;
}
.calendarPin2 {
	left:15%;
}
.titleWrapper {
	background-color: #fd5544;
	border-bottom:15px solid #dd3d30;
	padding: 0;
	text-align: center;
	vertical-align: middle;}
.titleWrapper h2 {
	color: #FAFAFA;
	font-size: 2em;
	border-bottom: 0;
	display: inline-block;
	vertical-align: top;	
}
form{
	padding: 0 2.5%;
}
label + input {
	margin: 0;
}
label{
	color: inherit;
}
input, select{
	display: inline-block;
}
#formBox{
	background-color: #FAFAFA;
	padding: 1em 0;
	border-collapse: collapse;
	box-sizing: border-box;
}
.switchTab {
	display: table;
	width:100%;

}
.tab {
	display: table-cell;
	width: 50%;
	height: 115px;
	background-color: #fd5544;
	font-weight: bold;
	font-size: 1.5em;
}
#tabEvent{
	background-color: #FAFAFA;
	border-radius: 0 0 0 10px;
	border: 0;
}
#tabUser {
	padding-bottom: 10px;
    border-radius: 0 0 10px 0;
    background-color: #4d93ff;
	border:0;
	border-top:10px solid #287DFF;
	border-left:5px solid #cdcdcd;
	margin-bottom: 10px;
	color: white;
}
.shadow {
	padding-top: 0;
	margin-top: 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 10px 10px #cdcdcd;
}
.time{
	width: 41.5%;

}
.price {
    width: 25%
}
.tarif {
	width: 30%;
}
input[type="file"]{
	float: none;
	font-size: 1em;
	width: 100%;
	padding: 2% 5%;
}
.resultBox{
	height: 305px;
	width:80%;
	margin-bottom: 35px;
	background-color: #FAFAFA;	
	float: right;
}
.imageEvent{
	display: table-cell;
	min-width: 200px;
	max-width: 200px;
	padding: 20px;
	height: 100%;
}
.imageEvent img {
	width: 100%;
	height: auto;
}
.infoEvent{
	display: table-cell;
	width: 100%;
	padding: 2%;
	max-height: 300px;
}
.resultBox a {
	text-decoration: none;
	color: white;
	padding: 10px 0;
}
.resultBox h4 {
	border-bottom: 0;
	padding: 10px 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-color: #fd5544;
}
.eventContainer {
	height: 200px;
	width: 100%;
	vertical-align: top;
}
.floatRight{
	float: right;
}
#searchToolbar span {
	font-size: 1.2em;
}
.tri{
	float: right;
	display: inline-block;
	width: 17%;
}
.tri select {
	width: 60%;
}
.table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-radius: 0 0 10px 10px;
}
.boldInfo{
	font-weight: bold;
	font-size: 1.2em;
}
.fa-asterisk{
	color: red;
}
.ligne{
	display: flex;
	justify-content: space-between;
	width: 102%;
}
.champ {
	width: calc(100% / 3);
	margin-right: 2%;
}
.calendarBottom {
	border-radius: 0 0 10px 10px;
}
.sideBar {
	display: inline-block;
	background-color: red;
	width: 17%;
	float: left;
}
.map {
	background-color: blue;
}
.ligneBoutons {
	margin: .5em 0;
	width:90%;
}
#description {
	resize: vertical;
}