.calendarPin {
	position: relative;
	top:-25px;
	left:-15%;
	height :80px;
	display: inline;
}
.calendarPin2 {
	left:15%;
}
.titleWrapper {
	background-color: #fd5544;
	border-bottom:15px solid #dd3d30;
	padding: 0;
	margin: 0 5%; 
	text-align: center;
	vertical-align: middle;
/*	border-left: 1px solid #fd5544;
	border-right: 1px solid #fd5544;*/
}
.titleWrapper h2 {
	color: #FAFAFA;
	font-size: 2em;
	border-bottom: 0;
	display: inline-block;
	vertical-align: top;	
}
form{
	padding: 0 2.5%;
}
label{
	color: inherit;
}
input{
	display: inline-block;
	width:75%;
}
select{
	display: inline-block;
	width:75%;
}
#date{
	width: 44%;
}
#searchBox{
	background-color: #FAFAFA;
	margin:0 5%;
	padding: 1em 0;
/*	border-radius: 0 0 20px 20px;*/
	border-collapse: collapse;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	box-sizing: border-box;
}
.time{
	width: 25%;
}
.resultBox{
	height: 305px;
	width:100%;
	margin-bottom: 35px;
	
}
.imageEvent{
	display: table-cell;
	min-width: 200px;
	max-width: 200px;
	padding: 0 20px;
	vertical-align: middle;
	height: 100%;
}
.imageEvent img {
	width: 100%;
	height: auto;
}
.infoEvent{
	display: table-cell;
	width: 100%;
	padding: 2%;
}
.resultBox a {
	text-decoration: none;
	color: white;
	padding: 10px 0;
}
.resultBox h4 {
	border-bottom: 0;
	padding: 10px 0;
	margin: 0;
	width: 100%;
	text-align: center;
	border-left: 1px solid #4d93ff;
	border-right: 1px solid #4d93ff;
	background-color: #4d93ff;
}
.eventContainer {
	height: 200px;
	width: 100%;
	vertical-align: top;
}
.floatRight{
	float: right;
}
#searchToolbar{
	margin-top: 2em;
}
#searchToolbar span {
	font-size: 1.2em;
}
.tri{
	float: right;
	display: inline-block;
	width: 17%;
}
.tri select {
	width: 60%;
}
.table {
	display: table;
	width: 100%;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	border-collapse: collapse;
}
.switchTab {
	display: table;
	padding: 0;
	width:90%;
}
.tab {
	display: table-cell;
	width: 50%;
	height: 100px;
	background-color: #fd5544;
}
#tabEvent{
	background-color: #FAFAFA;
	border-radius: 0 0 0 10px;
	border: 0;
	border-left: 1px solid #cdcdcd;
	box-shadow :0 15px 0 #cdcdcd;
}
#tabUser {
    border-radius: 0 0 10px 0;
    background-color: #4d93ff;
	border:0;
	border-top:15px solid #287DFF;
	border-bottom: 15px solid #4d93ff;
}