.prettyform{
	padding:0;
	padding-bottom: 2em;
}
.calendarPin {
	position: relative;
	top:-25px;
	left:-15%;
	height :80px;
	display: inline;
	z-index: 10;
}
.calendarPin2 {
	left:15%;
}
.titleWrapper {
	background-color: #fd5544;
	border-bottom:15px solid #dd3d30;
	padding: 0;
	text-align: center;
	vertical-align: middle;}
.titleWrapper h2 {
	color: #FAFAFA;
	font-size: 2em;
	border-bottom: 0;
	display: inline-block;
	vertical-align: top;
}
.time{
	width: 41.5%;

}
.price {
    width: 25%
}
.tarif {
	width: 30%;
}
input[type="file"]{
	float: none;
	font-size: 1em;
	width: 100%;
	padding: 2% 5%;
}
.imageEvent img {
	/*width: 100%;*/
	height: auto;
}
.infoEvent{
	display: table-cell;
	width: 100%;
	padding: 2%;
}
.resultBox {
	margin-bottom: 100px;
}

.eventContainer {
	height: 200px;
	/*width: 100%;*/
	vertical-align: top;
}
.floatRight{
	float: right;
}
#searchToolbar span {
	font-size: 1.2em;
}
.tri{
	float: right;
	display: inline-block;
	width: 17%;
}
.tri select {
	width: 60%;
}
.boldInfo{
	font-weight: bold;
	font-size: 1.2em;
}
.fa-asterisk{
	color: red;
}
.ligne{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
.champ {
	width: 33.3333%;
}

.sideBar {
	float: left;
	background-color: red;
	width: 20%;
	float: left;
}
.map {
	background-color: blue;
}
#description {
	resize: vertical;
}
#mainError{
	color:red;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}
