body {
    padding: 0 auto;
    width: 90%;
    margin: 20px auto;
    border: 1px dashed black;
}
.clearfix {
    overflow: auto;
}
* {
    font-family: arial, serif;
}

/* HEADER */
header {
    height: 70px;
}
header h1 {
    float: left;
    height: inherit;
    margin: 0;
    padding: 0 10px;
    background-color: white;
}
header h1 img {
    height: 100%;
}
header ul {
    margin: 0;
    position: relative;
    top: 25px;
}
header ul li {
    margin: 0 3%;
    list-style-type: none;
    text-align: center;
}
header ul li a {
    color: #090909;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
#raccourcis li {
    float: left;
}
#membre li {
    float: right;
}

/* FORMULAIRE */

#bigform {
    width: 100%;
    background-color: #FAFAFA;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

#catchphrase {
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    font-weight: bold;
}
#subcatchphrase{
    font-size: 1.5em;
    margin: 0 0 20px 0;
}

#bigform form, #bigform #boutoncreer {
    width: 75%;
    margin: 0 auto 30px auto;
    border: 1px dashed gray;
}

#bigform #boutoncreer {
    background-color: lightgreen;
    border: 1px solid black;
    padding: 10px 0;
}

#bigform input:focus {
    border: 1px solid grey;
}

#bigform input, #bigform select, #bigform option {
    margin: 0px;
    padding: 0;
    width: 23%;
    height: 40px;
    border: 1px solid black;
    background-color: orange;
}
#foo {
    height: 50px;
}

/* SUGGESTIONS */
#suggestions, #features {
    display: table;
    width: 100%;
}
#suggestions > div, #features > div {
    width: 33.333333%;
    display: table-cell;
    border-collapse: collapse;
}
.col-red {
    background-color: red;
}
.col-center {
    background-color: green;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.col-blue {
    background-color: blue;
}



/* FOOTER */
footer
{
    background-color: orange;
    padding: 20px 300px;
}