/**** STYLE SPECIFIQUE ACCUEIL ****/
/* Formulaire de recherche pleine largeur : */
#bigform {
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    background-color: #FAFAFA;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 4em 0;
    border-bottom: 1px solid #303030;
}
#bigform p {
    text-align: center;
}
#catchphrase, #subcatchphrase {
    text-shadow: 0 0 0.5em #FAFAFA;
}
#catchphrase {
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 0 0;
    font-weight: bold;
}
#subcatchphrase{
    font-size: 1.5em;
    margin: 1em 0 1em 0;
}
#bigform form {
    width: 80%;
    margin: 4em auto 4em auto;
}
#bigform form input, #bigform form select {
    font-size: 1.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    background-color: #FAFAFA;
    color: #303030  ;
    margin: 0px;
    padding: 0;
    width: 20%;
    padding: 0 1%;
    border: 1px solid #303030;
    border-radius: 0;
    border-right: 0;
}
#bigform .champCentral {
    width: 60%;
}
#bigform form select {
    background-image: url(../images/dropdown.png);
    background-position: 95%;
    background-repeat: no-repeat;
}

#bigform form input:active, #bigform form select:active {
    border: 1px solid #FAFAFA;
}
#bigform form select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#bigform form input[type="submit"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #303030;
    background-color: #287DFF;
    color: white;
    font-weight: bold;
}
#bigform form input[type="submit"]:hover {
    background-color: #015791;
}
#createButtonContainer {
    width: 25%;
    margin: 0 auto;
}
#createButton {
    font-size: 1.1em;
}

/******************************************/
/* Suggestions & features : */


.row {
    display: table-row;
    table-layout: fixed;
    width:100%;
	margin : 0px 20px 0px 20px;
}
*[class^=col] {
    display: table-cell;
    text-align: center;
    padding : 0;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.333333%;
}
.col-3x2 {
    width: 66.666666%;
}
/**** SLIDESHOW ~ Suggestions d'events : ****/

#suggestions {
}
#suggestions div.eventPreview {
}
.slideshow-slides{
    background-color: #F3F3F3;
    justify-content: flex-end;
}
/**** CALENDRIER ****/

.monthDetails {
    vertical-align: top;
    display: table-cell;
    box-sizing: border-box;
    color: #303030;
    padding-left: 1em;
}
.monthDetails h4 {
    clear: both;
}

.eventDetails {
    clear:both;
}
.eventDetails #typeSuggestion {
    font-weight: bold;
    font-size: 1.4em;
    color: #287DFF;
}
.eventDetails h5 {
    margin: 5px 0 10px 0;
    padding: 0 0 5px 0;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;
}
.eventDetails h5 span.participation {
    /*border: 1px solid #303030;*/
    background-color: #287DFF;
    color: #FAFAFA;
    font-weight: bold;
    border-radius: 5px;
    line-height: 1em;
    padding: 0.2em 0.5em 0.3em 0.5em;
    font-size: 0.8em;
    float: right;
}
.eventDetails #infosPratiques {
    float: left;
    width: auto;
    min-width: 10em;
    max-width: 20em;
    margin: 10px 10px 10px 0;
    padding: 0 10px 10px 0;
}
.eventDetails #infosPratiques span {
    color: #287DFF;
    width: 1.5em;
    display: block;
    float: left;
}
.eventDetails p#eventDescription {
    text-align: justify;
    line-height: 1.2em;
}

/**** Triptyque : présentation des features ****/
.triptyque {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0;
    color: #FAFAFA;
}
.blue-wrapper h4 {
    color: #FAFAFA;
    border-color: #FAFAFA;
    }
.triptyque h5 {
	font-size: 1.5em;
	font-weight:bold;
    margin: 20px auto;
    text-align: center;
}
.triptyque #glyphs {
    font-size: 10em;
    color: #FAFAFA;
}
.triptyque p {
    font-size: 1.2em;
    margin: 0 20px;
}
.description {
	font-size:0.9em;
	margin: 0 10px 5px 10px;
}
.blue-wrapper {
    background-color: #287DFF;
}
