.sidebar {
	float: left;
	width: 20%;
	/*background-color: lightgray;*/
}
.sidebar h3 {
	font-size: 1.4em;
	border-bottom: 1px solid lightgray;
}
.sidebar h5 {
	font-size: 1.2em;
	margin-top: .5em;
	margin-bottom: .5em;
	border-bottom: 1px solid lightgray;
}
.sidebar .filter {
	cursor: pointer;
	border: 1px solid #287DFF;
	border-radius: 5px;
	padding: .1em .5em;
	margin-bottom: .2em;
}
.sidebar .filter.selected {
	background-color: #287DFF;
	color: #FAFAFA;
}

.results {
	margin-left: 22%;
}


.prettyform .tabs #tab-events {
	background-color: #FAFAFA;
	border-top: 15px solid #FAFAFA;
	color: #303030;
}
.buttons {
	width: 100%;
}
.buttons input, .buttons a.button {
	width: 50%;
	margin: 1em auto;
}

.prettyform form > label, .prettyform #criteres h3 {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0 .5em 0;
}
.prettyform #criteres {
	width: 100%;
	margin: 2em 0;
}

.prettyform #criteres .champ {
	display: inline-block;
	text-align: center;
	width: 19.5%;
}
.prettyform #criteres .champ label {
	margin: 0 auto;
}
